/*Estilos para mardis subir archivos*/
.mardisStyle {
    background-color: #fff !important;
}


    .mardisStyle .text-form {
        margin-left: 33% !important;
    }


    .mardisStyle .btn-primary {
        background-color: RGBA(213,6,19,1);
        border-color: RGBA(213,6,19,1);
        min-height: 35px !important;
        min-width: 80px !important;
        margin: 15px;
        border-radius: 0px !important
    }

        .mardisStyle .btn-primary:hover {
            background-color: RGBA(227,6,19,1);
            border-color: RGBA(227,6,19,1);
        }

    .mardisStyle .btn-default {
        background-color: RGBA(102,102,102,1);
        border-color: RGBA(102,102,102,1);
        color: white;
        min-height: 35px !important;
        min-width: 80px !important;
        margin: 15px;
        border-radius: 0px !important
    }

        .mardisStyle .btn-default:hover {
            background-color: RGBA(90,90,102,1);
            border-color: RGBA(102,102,102,1);
            color: white;
            min-height: 35px !important;
            min-width: 80px !important;
            margin: 15px;
            border-radius: 0px !important
        }


    .mardisStyle .file-input {
        text-align: center !important;
    }

    .mardisStyle .file-footer-buttons {
        display: none !important;
    }

.text-gray-m {
    padding: 30px 0px 0px 30px;
    color: #adadad;
    font-weight: 600;
    font-size: 25px;
}

.text-black-m {
    padding: 1px 0px 0px 30px;
    color: #000;
    font-weight: 700;
    font-size: 15px;
}

.mardisStyle .Content-file .text-form {
    margin-left: 2% !important;
}

.mardisStyle .Content-file {
    /*border-right: 10px solid #ecf0f5 !important;*/
    width: 25%;
    display: inline-block;
    margin: 0px !important;
    /* height: -webkit-fill-available;*/
}

#content-file {
    padding: 0px;
    border: none !important;
}

.mardisStyle .text-gray-ms {
    padding: 30px 0px 0px 5px;
    color: #adadad;
    font-weight: 600;
    font-size: 18px;
}


.mardisStyle .Content-load {
    border-left: 10px solid #ecf0f5 !important;
    width: 74%;
    display: inline-block;
    margin: 0px !important;
    min-height: 350px;
}

.mardisStyle .tb-result {
}

.tb-result, .tb-result th, .tb-result td {
    border: 1px solid #CCCCCC;
    text-align: center;
}

    .tb-result thead {
        border-bottom: 2px solid;
        border-color: RGBA(227,6,19,1);
    }

.form-inline {
    padding-top: 5% !important;
}
/*Style Equipos*/
.mardis_profile {
    background-color: white;
    padding: 15px 8px 15px 8px;
}

    .mardis_profile .img-circle {
        border-radius: 100% !important;
        width: 130px;
        height: 130px;
        border: 3px solid #cacaca;
        padding: 4px;
    }

    .mardis_profile h3 {
        font-weight: 700;
        font-size: 12px;
        font-family: Helvetica;
        font-style: normal;
        font-variant: normal;
    }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #706a6a !important;
    border-color: #706a6a !important;
}
#table-mardis th {
    border-bottom: 2px solid #E20613;
    color: #000;
}
#table-mardis thead {
    border-bottom: 2px solid #E20613;
}
/*#table-mardis thead tr {
    border: 2px solid ##042b78;
}*/
#table-mardis {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

    #table-mardis span {
        color: #527878;
    }

.form-inline .btn-default {
    background-color: #666666;
    border-color: #666666;
    color: #FFFFFF;
    min-height: 35px !important;
    min-width: 40px !important;
    margin: 15px;
    font-weight: 500;
    font-size: 14px;
    font-family: Helvetica;
    font-style: normal;
    font-variant: normal;
    margin-right: 0px;
    border-radius: 3px !important
}

.text-title {
    font-weight: 700;
    font-size: 12px;
    font-family: Helvetica;
    font-style: normal;
    font-variant: normal;
    color: #666666;
    text-align: right !important
}
/*casos preguntas*/
.caso3 {
    width: 33%;
    float: left;
}
.caso4 {
    width: 25%;
    float: left;
}
.caso5 {
    width: 20%;
    float: left;
}
.inputmardis {
 
    min-width: 70px !important;
}

/*timeline mardis*/

#timeline .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: none !important;
    margin-bottom: 1px !important;
    width: 100%;
    box-shadow: none !important;
    margin-top: 10px;
}

.timeline:before {
  
    top: -16px !important;
}