@model Mardis.Engine.Web.ViewModel.DashBoardViewModels.DashBoardViewModel

@{
    ViewData["Menu"] = "Home";
    ViewData["Title"] = "DashBoard ";
}

@section buttons{
}

@section filters{
    @Html.Partial("_CoreFilterPartial", Model.Properties)
}


<div id="divMainDashBoard">
    <div id="divHeader">
        <div class="row">

            <div class="col-sm-8"><h3>Panel de Productividad</h3> </div>

            <div class="col-sm-2">
                <select id="selCampaigns" class="form-control input-sm" asp-for="IdCampaign" asp-items="@ViewBag.CampaignList">
                    <option>Campaña</option>
                </select>
            </div>
            <div class="col-sm-2">
               
                @if (ViewBag.Account == Guid.Parse("22BFD943-8047-445A-BB20-533D69D52C92"))
                     {
                      <button type="submit" class="btn btn-primary" onclick=" Generar();">Generar DashBoard</button>
                     }
                else
                {
                      <button type="submit" class="btn btn-primary">Generar DashBoard</button>

                }
            </div>
        </div>

        <div style="margin-top: 7px;"></div>


        <div class="contenido" style="text-align:center">


        </div>

    </div>
</div>



@section scripts{
    <script src="~/js/viewModel/TaskCommon.js"></script>
    <script src="~/js/viewModel/FilterHelper.js"></script>
    <script src="~/js/viewModel/FilterHelper.js"></script>
    <script>
        function Generar() {

            $(".contenido").empty();
            var p = $('#selCampaigns option:selected').text();
            if (p == 'TOPSY EL TRIUNFO TALLERES ARMANDO MARIN') {
                $(".contenido").append("<img src='/images/cuadro-de-total-censados-3.png' />");
            }
            if (p == 'TOPSY DURAN ANGELICA MARIN') {
                $(".contenido").append("<img src='/images/cuadro-de-total-censados-2.png' />");
            }
            if (p == 'TOPSY STO TALLERES LUIS DELGADO') {
                $(".contenido").append("<img src='/images/cuadro-de-total-censados-5.png' />");
            }
            if (p == 'TOPSY STO LUIS DELGADO') {
                $(".contenido").append("<img src='/images/cuadro-de-total-censados-5.png' />");
            }
            if (p == 'TOPSY ESMERALDAS') {
                $(".contenido").append("<img src='/images/cuadro-de-total-censados-4.png' />");
            }
            if (p == 'TOPSY EL TRIUNFO ARMANDO MARIN') {
                $(".contenido").append("<img src='/images/cuadro-de-total-censados-3.png' />");
            }
            if (p == 'TOPSY BABAHOYO  XAVIER TITO FLORES') {
                $(".contenido").append("<img src='/images/cuadro-de-total-censados-1.png' />");
            }
            if (p == 'TOPSY BABAHOYO TALLERES XAVIER TITO FLORES') {
                $(".contenido").append("<img src='/images/cuadro-de-total-censados-1.png' />");
            }
            if (p == 'Campaña') {
                $(".contenido").append("<img src='/images/cuadro-de-total-censados.png' />");
            }

        }
    </script>
}